body{
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
    overflow-x: hidden;
	/*
    background-image: url(../img/bg1.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-bacground-size: cover;
    */
}

#notifications {
	width:      336px;
	background: #cc3e38;
	height:     100%;
}

.block {
    padding:    4px 4px 4px 5px;
    margin:     10px 10px 10px 19px;
    background: #dd3e38;
    float:      left;
    display:    block;
    width:      286px;
}

.block:first-child {
    margin-top: 70px;
}

.block span {
    padding: 10px 20px 10px 20px;
    clear:   both;
    display: block;
    color:   #fff;
}

.block#make-alert {
    cursor:        pointer;
    border-radius: 5px;
    background:    #fff;
}

.block#make-alert:hover {
    background: #eee;
}

.block#make-alert:active {
    background: #fff;
}

.block#make-alert .hnotification {
    margin-top: 3px;
    color: #dd3e38;
}

#results {
    display: none;
}

#results li:first-child {
    margin-top: 40px;
}

#results li {
    list-style:  none;
    background:  white;
    color:       #dd3e38;
    width:       275px;
    padding:     10px;
    margin-left: -5px;
    cursor:      pointer;
}

#results li:nth-child(even) {
    background: #fee;
}

#results li:hover {
    background: #ffa;
    color: #200;
}

#make-alert-form {
    display: none;
    color:   white;
    padding: 20px;
}

#make-alert-form .cancel {
    color: #faa;
    float: left;
    margin-top: -44px;
    margin-left: 220px;
}

#make-alert-form .cancel:hover {
    text-decoration: underline;
    cursor:          pointer;
}

#make-alert-form span.address {
    display:   block;
    color:     #ffa;
    font-size: 20px;
    padding:   10px 0;
}

#make-alert-form ul {
    padding: 0;
}

#make-alert-form li {
    list-style: none;
    float:      left;
    padding:    10px;
    margin:     2px;
    background: #ee3e38;
    cursor:     pointer;
}

#make-alert-form li:hover {
    background: #aa2e28;
}

#make-alert-form li:active {
    background: #ee3e38;
}

#make-alert-form li.active {
    background: #3ecc38;
}

#make-alert-form .make-space {
    display: block;
    width:   100%;
    clear:   both;
    margin:  10px;
    padding: 1px;
}

#make-alert-form textarea {
    background:    #fdd;
    color:         #200;
    border:        0;
    border-radius: 5px;
    resize:        none;
    width:         285px;
    margin-top:    15px;
    margin-left:   2px;
    height:        100px;
}

#make-alert-form .done {
    margin-top: 15px;
    font-size:  20px;
    cursor:     pointer;
}

#make-alert-form .done:hover {
    text-decoration: underline;
}

#map {
	width:      100%;
	background: #dadada;
	height:     100%;
}

#map-container {
    width:    75%;
    height:   100%;
    top:      0;
    left:     25%;
    position: absolute;
    z-index:  0;
}

#search {
	position: absolute;
	top:      10px;
	left:     10px;
}

#search #lupe {
	cursor:     pointer;
	height:     44px;
	width:      44px;
	background: url(../img/search.jpg);
    margin:     0 0 0 10px;
	float:      left;
}

#search input[type="text"] {
	float:      left;
	height:     42;
	padding:    6px 6px 6px 6px;
	border:     2px #cc3e38;
	width:      250px;
	color:      #cc3e38;
	background: #fff;
	transition: all 1s;
}

#search input[type="text"]:focus {
	border: #cc3e38;
}

.hnotification {
	font-size:      18px;
    font-weight:    bold;
	color:          white;
	text-transform: uppercase;
	line-height:    40px;
	float:          left;
}

.inotification {
	float:         left;
	padding-right: 10px
}

#location {
	float: left;
}

#feed {
    display: block;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
}

#feed li {
    display:       block;
    padding:       20px 10px;
    margin-left:   -5px;
    margin-right:  -4px;
    border-bottom: 1px solid #cc3e38;
    transition:    background-color 0.5s ease;
    color:         #fdd;
}

#feed li:last-child {
    padding-bottom: 10px;
    border-bottom: none;
}

#feed li:hover {
    background: #ee3e38;
    cursor:     pointer;
    color:      white;
}

#feed li:hover:after {
    content:       "Click to go.";
    color:         #ffbeb8;
    font-size:     12px;
    text-align:    right;
    display:       block;
    margin-top:    10px;
    margin-bottom: 5px;
}

#feed li.active {
    background: #ee3e38;
}

#feed li.active:hover {
    background: white;
    color:      #200;
}

#feed li.active:hover:after {
    content: "Click to validate.";
    color:   #bb6e68;
}

#feed li.validated {
    background: #ee3e38;
}

#feed li.validated:hover:after {
    content: "This is your alert.";
}

#feed li .validations {
    float:        right;
    margin-top:   -9px;
    margin-right: -15px;
    color:         #622;
    opacity:       .7;
}

#logout {
    position:      fixed;
    bottom:        10px;
    left:          10px;
    background:    #ee3e38;
    border-radius: 2px;
    box-shadow:    0px 1px 0px #633;
    padding:       10px;
    color:         #622;
}

#logout:hover {
    color: white;
    cursor: pointer;
}
