body{
	background: #000 url(../img/bg.png) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-bacground-size: cover;
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Open Sans';
}

#welcome {
	border: 0;
	width: 35%;
	max-height: 100%;
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: 100px 50px 10px 70px;
	opacity: 0;
	margin: 0;
}


#login {
	position: absolute;
	width: 150px;
	height: 36px;
	top: 400px;
    cursor: pointer;
}

.isa {
background-color: #dd4b39;
color: #fff;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
box-shadow: 0 1px 0 rgba(0,0,0,0.10);
-webkit-border-radius: 3px;
border-radius: 3px;
}

.isa:hover {
background-color: #cc3a28;
}

.Ndb, .Odb {
font-weight: bold;
}
.Ndb {
font-size: 12px;
height: 31px;
line-height: 31px;
}

.Y3d {
-webkit-user-select: none;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-family: Roboto,arial,sans-serif;
outline: none;
overflow: hidden;
position: relative;
text-decoration: none;
white-space: nowrap;
}
.Ndb.isa .Ega {
background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/signinbutton-094c03c836f9f91d08b943a90778d34e.png) -32px -44px;
height: 32px;
width: 32px;
margin-top: -1px;
}
.isa .Ega {
border-color: #bb3f30;
}
.Ega {
border-right-width: 1px;
}
.Ega {
border-style: solid;
border-width: 0;
display: inline-block;
vertical-align: top;
}
.Ndb .tLb {
padding: 0 20px;
}
.isa .tLb {
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
display: inline-block;
}
.tLb {
display: inline-block;
}

